.clan__header::before {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../src/assets/images/Tesla.png);
    object-fit: contain;
}

.clan__name {
    background: linear-gradient(171deg, #991313, #ffcb8d);
}

.student__portfolio {
    background:  #991313;
}

.student__portfolio:hover {
    background: #ffcb8d;
}

.student__card:hover .student__image {
    border: 3px solid transparent;
    border-color: #991313;
}

.student__card--tutor:hover .student__image {
    border: 5px solid transparent;
    border-color: #ffcb8d;
}

.student__card {
    background: white;
}

.student__card--tutor {
    background: linear-gradient(235deg, #ffffff ,#991313);
}