.clan__header::before {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../src/assets/images/Ritchie.png);
    object-fit: contain;
}

.clan__name {
    background: linear-gradient(171deg, #6745ce, #ffcb8d);
}

.student__portfolio {
    background:  #6745ce;
}

.student__portfolio:hover {
    background: #ffcb8d;
}

.student__card:hover .student__image {
    border: 3px solid transparent;
    border-color: #6745ce;
}

.student__card--tutor:hover .student__image {
    border: 5px solid transparent;
    border-color: #dab989;
}

.student__card {
    background: white;
}

.student__card--tutor {
    background: linear-gradient(235deg, #ffffff ,#6745ce)  ;
}

