.clan__header::before {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../src/assets/images/Ritchie.png);
    object-fit: contain;
}

.clan__name {
    background: linear-gradient(90deg, #6745ce, #ffcb8d);
}

.student__portfolio {
    background: linear-gradient(135deg, #6745ce, #ffcb8d);
}

.student__portfolio:hover {
    background: linear-gradient(135deg, #ffcb8d, #6745ce);
}

.student__card:hover .student__image {
    border-color: #6745ce;
}
