.clan__header::before {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../src/assets/images/Berners_Lee.png);
}

.clan__name {
    background: linear-gradient(171deg, #dab989, #30302f);
}

.student__portfolio {
    background: #30302f;
}

.student__portfolio:hover {
    background: #dab989;
}

.student__card:hover .student__image {
    border: 3px solid transparent;
    border-color: #30302f;
}   

.student__card--tutor:hover .student__image {
    border: 3px solid transparent;
    border-color: #dab989;
}

.student__card {
    background: white;
}

.student__card--tutor {
    background: linear-gradient(0deg, #ffffff , #30302f);
}

