<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__brand">
            <img class="navbar__img" src="../../src/assets/icons/icon_complete.ico" alt="Logo Riwi">
        </div>
        <ul class="navbar__menu">
            <li><a class="navbar__link" href="../../index.html">Home</a></li>
            <li><a class="navbar__link" href="../Berners_Lee/Berners_Lee.html" class="active">Berners Lee</a></li>
            <li><a class="navbar__link" href="../Ritchie/Ritchie.html">Ritchie</a></li>
            <li><a class="navbar__link" href="../Tesla/Tesla.html">Tesla</a></li>
            <li><a class="navbar__link" href="../Van_Rossum/Van_Rossum.html">Van Rossum</a></li>
        </ul>
    </div>
</nav>