<footer class="footer">
    <section class="footer__container">
        <div class="footer__content">
            <article class="footer__section">
                <h3 class="footer__title">Riwi</h3>
                <p class="footer__description">Proyecto de Clanes - Desarrollo Web</p>
            </article>
            <article class="footer__section">
                <h3 class="footer__title">Clanes</h3>
                <ul class="footer__list">
                    <li class="list__item"><a class="list__link" href="../Berners_Lee/Berners_Lee.html">Berners Lee</a></li>
                    <li class="list__item"><a class="list__link" href="../Ritchie/Ritchie.html">Ritchie</a></li>
                    <li class="list__item"><a class="list__link" href="../Tesla/Tesla.html">Tesla</a></li>
                    <li class="list__item"><a class="list__link" href="../Van_Rossum/Van_Rossum.html">Van Rossum</a></li>
                </ul>
            </article>
            <article class="footer__section footer__section--right">
                <h3 class="footer__title">Contacto</h3>
                <p class="footer__description">Email: <a class="footer__link" href="mailto:info@riwi.io">info@riwi.io</a></p>
                <p class="footer__description">Teléfono: <a class="footer__link" href="tel:+573011702259">+57 301 1702259</a></p>
            </article>
        </div>
        <div class="footer__bottom">
            <p class="bottom__copy">&copy; 2025 Riwi. Todos los derechos reservados.</p>
        </div>
    </section>
</footer>